body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.loader{
    display: flex;
    align-items: center;
}

.bar{
    display: inline-block;
    width: 10px;
    height: 120px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    animation: scale-up 1s linear infinite;
}

.bar:nth-child(2)
{
    height: 65px;
    margin: 0 13px;
    animation-delay: 0.25s;
}

.bar:nth-child(3){
    animation-delay: 0.5s;
}

@keyframes scale-up {
    20%{
        background-color: #fff;
        transform: scaleY(1.5);
    }

    40%{
        transform: scaleY(1);
    }
}