*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease;
}

:root{
    --color: #c272cf;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background: url(img/Vector.png) no-repeat;
    background-size: 100% 25%;
    background-position: top;
}
